<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav th:replace="/fragments/navbar.html ::nav"></nav>
<div class="container mt-5">

    <form th:action="@{/meu-perfil/atualizar/salvar}" th:object="${usuario}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" id="nome" th:field="*{nome}" class="form-control">
        <input type="hidden" id="nomeSocial" th:field="*{nomeSocial}" class="form-control">
        <input type="hidden" id="email" th:field="*{email}" class="form-control">
        <input type="hidden" id="login" th:field="*{login}" class="form-control">
        <input type="hidden" id="dataNascimento" th:field="*{dataNascimento}" class="form-control">
        <input type="hidden" id="senha" th:field="*{senha}" class="form-control">
        <input type="hidden" id="isVendedor" th:field="*{isVendedor}" class="form-check-input" onclick="mostrarCamposAdicionais()">
        <div id="camposAdicionais" class="form-group" style="display: none;">
            <label for="razao">Razão Social:</label>
            <input type="hidden" id="razao" th:field="*{razao}" class="form-control">

            <label for="biografia">Biografia:</label>
            <input type="hidden" id="biografia" th:field="*{biografia}" class="form-control">

            <label for="whatsapp">Número de WhatsApp:</label>
            <input type="hidden" id="whatsapp" th:field="*{whatsapp}" class="form-control telefone" placeholder="+55 (84)">

            <label for="validationDefaultUsername" class="form-label">Instagram</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                <input placeholder="username" th:field="*{instagram}" type="hidden" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>



        <div class="mb-3">
            <label for="imagem" class="form-label">Imagem:</label>
            <input type="file" id="imagem" name="file" class="form-control">
            <p th:if="${#fields.hasErrors('imagemUri')}" th:errors="*{imagemUri}" class="text-danger"></p>
        </div>

        <div class="modal fade" id="cropper-modal" tabindex="-1" role="dialog" aria-labelledby="cropper-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cropper-modal-label">Cortar Imagem</h5>
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8">
                                <img id="preview" src="" alt="Imagem selecionada">
                            </div>
                            <div class="col-md-4">
                                <div id="cropper-preview" class="d-flex justify-content-center align-items-center" style="height: 400px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-cortar" type="button" class="btn btn-primary">Cortar</button>
                        <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>-->
                    </div>
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Finalizar edição</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="/cropper.js"></script>
</body>
</html>
