<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./modal.css">
</head>
<body>
<nav th:replace="/fragments/navbar.html ::nav"></nav>
<div class="container mt-5">
    <h1>Configurações da conta</h1>

    <!-- Botão para apagar todos os produtos -->
    <div class="container mb-3">
        <button type="button" class="btn btn-danger" onclick="mostrarModal('confirmDeleteModalProdutos')">Apagar todos os produtos</button>
    </div>
    <br>

    <!-- Botão para abrir a janela modal -->
    <div class="container">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">Apagar permanentemente minha conta</button>
    </div>

    <!-- Janela modal de confirmação de exclusão da conta -->
    <div class="modal" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar exclusão de conta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja apagar sua conta permanentemente?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <!-- Altere o link abaixo para o caminho correto em sua aplicação -->
                    <a class="btn btn-danger" th:href="@{'/usuario/excluir/'+*{usuario.id}}">Apagar</a>

                </div>
            </div>
        </div>
    </div>

    <!-- Janela modal de confirmação de exclusão de todos os produtos -->
    <div class="modal" id="confirmDeleteModalProdutos" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalProdutosLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalProdutosLabel">Confirmar exclusão de todos os produtos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja apagar todos os produtos permanentemente?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <!-- Coloque aqui o link ou ação para apagar todos os produtos -->

                    <a th:href="@{'/produtos/excluir-todos/'+ ${#authentication.principal.id}}" class="btn btn-danger">
                        Apagar todos os produtos
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function mostrarModal(modalId) {
        $("#" + modalId).modal("show");
    }

    function apagarTodosOsProdutos() {
        // Fazer a chamada AJAX para excluir todos os produtos
        $.ajax({
            url: "/produtos/excluir-todos",
            type: "POST",
            success: function(response) {
                console.log("Todos os produtos foram excluídos!");
                // Redirecionar o usuário para uma página de confirmação ou exibir uma mensagem de sucesso
                // ...
                // Recarregar a página para atualizar a lista de produtos
                location.reload();
            },
            error: function(xhr, status, error) {
                console.log("Ocorreu um erro ao excluir os produtos.");
                // Tratar o erro adequadamente
                // ...
            }
        });

        // Fechar o modal após a ação ser realizada
        $("#confirmDeleteModalProdutos").modal("hide");
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>
