<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav th:replace="/fragments/navbar.html ::nav"></nav>
<div class="container mt-5">

    <form th:action="@{/meu-perfil/atualizar}" th:object="${usuario}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" class="form-control">
            <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></p>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" th:field="*{email}" class="form-control">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>
        </div>
        <div class="mb-3">
            <label for="login" class="form-label">Login:</label>
            <input type="text" id="login" th:field="*{login}" class="form-control">
            <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="text-danger"></p>
        </div>
        <div class="mb-3">
            <label for="dataNascimento" class="form-label">Data de Nascimento:</label>
            <input type="date" id="dataNascimento" th:field="*{dataNascimento}" class="form-control">
            <p th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" class="text-danger"></p>
        </div>
        <button type="submit" class="btn btn-primary">Finalizar Edição</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>
