<nav class="navbar navbar-expand-lg navbar-light bg-white" th:fragment="nav">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand mt-2 mt-lg-0" th:href="@{/}">
      <img src="/logo.jpeg" height="50" alt="Comércio EAJ" loading="lazy" />
    </a>

    <!-- Toggle button -->
    <button th:href="@{/}" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/home}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/produtos/catalogo}">Catálogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/vendedores}">Vendedores</a>
        </li>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
          <li class="nav-item dropdown" th:if="${#authentication.principal.isVendedor}">
            <a class="nav-link dropdown-toggle" th:href="@{/produtos}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Produtos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/produtos/cadastro}">Cadastrar produtos</a></li>
              <li><a class="dropdown-item" th:href="@{/meus-produtos}">Gerenciar Produtos</a></li>
            </ul>
          </li>
        </div>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/sobre}">Sobre</a>
        </li>
      </ul>

      <!-- Right elements -->
      <div th:if="${#authorization.expression('isAuthenticated()')}">
        <ul class="navbar-nav flex-row">
          <li class="nav-item me-3 me-lg-1">
            <a class="nav-link d-sm-flex align-items-sm-center" th:href="@{/meu-perfil}">
              Bem-vindo(a),
              <strong class="d-none d-sm-block ms-1" th:text="${#authentication.principal.nomeSocial}"></strong>
              <img th:src="@{'/images/' + ${#authentication.principal.imagemUri}}" alt="Profile Image" class="rounded-circle ms-1" height="25" width="25" loading="lazy" />
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" th:href="@{/meu-perfil}" style="outline: none;">
                  <img src="/perfil.png" width="20" height="20" alt="Perfil"> Meu perfil
                </a>
              </li>
              <li>
                <a class="dropdown-item" th:href="@{/meu-perfil/configuracoes}" style="outline: none;">
                  <img src="/configuração.png" width="20" height="20"> Configurações
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <a class="dropdown-item" th:href="@{/logout}" style="outline: none;">
                <img src="/sair.png" width="20" height="20"> Sair
              </a>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Right elements -->
      <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <div class="ms-auto">
          <ul class="navbar-nav flex-row">
            <li class="nav-item me-2 d-flex align-items-center">
              <a class="btn btn-dark" onclick="location.href='/login'">Login</a>
            </li>
            <li class="nav-item me-2 d-flex align-items-center">
              <a class="btn btn-outline-dark text-nowrap" onclick="location.href='/cadastre-se'">Cadastre-se</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>