<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Produtos</title>
    <link th:replace="/fragments/logo.html ::logo">
    <script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body class="back">
<nav th:replace="/fragments/navbar.html ::nav"></nav>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h1 class="text-center fw-bold">Cadastro de Produtos</h1>
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <form id="form-produto" th:action="@{/produtos/cadastro/salvar}" th:object="${produto}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Título:</label>
                            <input placeholder="Digite o nome do produto" type="text" id="titulo" th:field="*{titulo}" class="form-control" required>
                            <p th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" class="text-danger"></p>
                        </div>
                        <div class="mb-3">
                            <label for="descricao" class="form-label">Descrição:</label>
                            <textarea placeholder="Digite a descrição do produto" type="text" id="descricao" th:field="*{descricao}" class="form-control" required> </textarea>
                            <p th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" class="text-danger"></p>
                        </div>
                        <div class="mb-3">
                            <label for="preco" class="form-label">Preço:</label>
                            <input type="text" id="preco" th:field="*{preco}" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="categoria" class="form-label">Categoria:</label>
                            <select id="categoria" th:field="*{categoria}" class="form-select" required>
                                <option value="">Selecione uma categoria...</option>
                                <option value="acessorios">Acessórios</option>
                                <option value="comida">Alimentos e Bebidas</option>
                                <option value="eletronicos">Eletrônicos</option>
                                <option value="vestuario">Vestuário</option>
                                <option value="livros">Livros</option>
                                <option value="outro">Outros</option>
                                <!-- Adicione mais opções de categoria aqui -->
                            </select>
                            <p th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}" class="text-danger"></p>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" id="disponibilidade" th:field="*{disponibilidade}" class="form-check-input">
                            <label for="disponibilidade" class="form-check-label">Disponibilidade</label>
                        </div>
                        <div class="mb-3">
                            <label for="imagem" class="form-label">Imagem:</label>
                            <input type="file" id="imagem" name="file" class="form-control" required>
                            <p th:if="${#fields.hasErrors('imagemUri')}" th:errors="*{imagemUri}" class="text-danger"></p>
                        </div>
                        <div class="modal fade" id="cropper-modal" tabindex="-1" role="dialog" aria-labelledby="cropper-modal-label" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="cropper-modal-label">Cortar Imagem</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <img id="preview" src="" alt="Imagem selecionada">
                                            </div>
                                            <div class="col-md-4">
                                                <div id="cropper-preview" class="d-flex justify-content-center align-items-center" style="height: 400px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btn-cortar" type="button" class="btn btn-primary">Cortar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="preco-modal" tabindex="-1" aria-labelledby="preco-modal-label" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="preco-modal-label">Erro de Preço</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>O preço deve ser maior que zero.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/cropper.js"></script>
<script>
    const form = document.querySelector('#form-produto');
    const precoInput = document.querySelector('#preco');
    const precoModal = new bootstrap.Modal(document.querySelector('#preco-modal'));

    form.addEventListener('submit', function(event) {
        const precoValue = parseFloat(precoInput.value.replace(',', '.'));
        if (isNaN(precoValue) || precoValue <= 0) {
            event.preventDefault();
            precoModal.show();
        } else {
            // Substitua a vírgula pelo ponto antes de enviar ao back-end
            precoInput.value = precoInput.value.replace(',', '.');
        }
    });

    new Cleave('#preco', {
        numeral: true,
        numeralDecimalScale: 2,
        numeralDecimalMark: ',',
        numeralThousandsGroupStyle: 'thousand',
        numeralPositiveOnly: true,
        onValueChanged: function(e) {
            const value = e.target.rawValue;
            if (value) {
                const formattedValue = parseFloat(value.replace(',', '.')).toLocaleString('pt-BR', { minimumFractionDigits: 2 });
                e.target.value = formattedValue;
            }
        }
    });
</script>
</body>
</html>