<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Produto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">

    <nav th:replace="/fragments/navbar.html ::nav"></nav>

    <h1 class="text-center">Detalhes do Produto</h1>
    <div class="card mt-5">
        <!-- Exibir informações do vendedor -->
        <h5 class="mt-4">Informações do Vendedor</h5>
        <p class="card-text"><strong>Razão Social:</strong> <span th:text="${produto.vendedor.razao}"></span></p>
        <img class="img-fluid" th:src="@{'/images/' + ${produto.vendedor.imagemUri}}" alt="Imagem do Vendedor">
        <div class="card-body">
            <img class="card-img-top img-fluid" th:src="@{'/images/' + ${produto.imagemUri}}" alt="..." >
            <h5 class="card-title" th:text="${produto.titulo}"></h5>
            <p class="card-text" th:text="${produto.descricao}"></p>
            <p class="card-text" th:text="${produto.categoria}"></p>
            <p class="card-text" th:text="${produto.preco}"></p>
            <p class="card-text" th:text="${produto.disponibilidade ? 'Disponível' : 'Indisponível'}"></p>
            <p class="card-text" th:text="${produto.data_cadastro}"></p>
            <p class="card-text" th:text="${produto.data_atualizacao}"></p>
        </div>
    </div>
</div>
</body>
</html>
