<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes do Produto</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <style>
    .product-img {
      object-fit: contain;
    }
  </style>
</head>
<body class="back">
<nav th:replace="/fragments/navbar.html ::nav"></nav>

<div class="container mt-5">
  <h1 class="text-center fw-bold">Detalhes do Produto</h1>
  <div class="card mt-5">

    <div class="row g-0">
      <div class="col-md-4">
        <div class="position-relative">
          <img class="product-img img-fluid" th:src="@{'/images/' + ${produto.imagemUri}}" width="500" height="500" alt="Imagem do Produto">
          <div class="position-absolute top-0 end-0 m-2">
            <a th:href="@{'/produtos/editar-foto/'+*{produto.id}}" class="btn-edit-image">
              <img src="/editar_imagem.png" width="30" height="30">
            </a>
          </div>
          <div th:class="${produto.disponibilidade ? 'position-absolute bottom-0 start-0 p-2 text-white bg-success w-100 text-center' : 'position-absolute bottom-0 start-0 p-2 text-white bg-danger w-100 text-center'}"
               style="background-color: rgba(0, 0, 0, 0.5);">
            <span th:text="${produto.disponibilidade} ? 'Disponível' : 'Indisponível'"></span>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-text" th:text="${produto.titulo}"></h5>
          <p class="card-text" th:text="${produto.descricao}"></p>
          <h3 class="card-text">R$ <span th:text="${produto.preco}"></span></h3>
          <div class="d-flex">
            <p class="card-text badge text-bg-success rounded m-2 p-2">Categoria: <span th:text="${produto.categoria}"></span></p>
            <p class="card-text badge text-bg-warning rounded m-2 p-2">Cadastro: <span th:text="${produto.data_cadastro}"></span></p>
            <p class="card-text badge text-bg-info rounded m-2 p-2" th:if="${produto.data_atualizacao}">Última Atualização: <span th:text="${produto.data_atualizacao}"></span></p>
          </div>
        </div>
        <div class="card-footer bg-transparent d-flex justify-content-end">
          <a th:href="@{'/produtos/editar/'+*{produto.id}}" class="btn btn-outline-primary me-2">
            <img src="/editar.png" width="25" height="25" alt="Edit" class="me-1" />
            Editar
          </a>
          <a th:href="@{'/produtos/excluir/'+*{produto.id}}" class="btn btn-outline-danger">
            <img src="/excluir.png" width="25" height="25" alt="Delete" class="me-1" />
            Excluir
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
