<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Resultado da Busca</title>
    <!-- Incluir os arquivos CSS do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Resultado da Busca</h1>


    <!-- Verificar se há produtos a serem exibidos -->
    <th:block th:if="${produtos != null}">
        <div class="row">
            <th:block th:each="produto : ${produtos}">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${produto.titulo}"></h5>
                            <p class="card-text" th:text="${produto.descricao}"></p>
                            <p class="card-text" th:text="${produto.preco}"></p>
                            <a href="#" class="btn btn-primary">Entrar em contato</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </th:block>
</div>
<!-- Incluir os arquivos JavaScript do Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
