<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Busca</title>
    <link th:replace="/fragments/logo.html ::logo">
    <!-- Incluir os arquivos CSS do Bootstrap -->
    <link href="/style.css" rel="stylesheet">
    <link href="/catalogo.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <style>
        .btn-success {
            background-color: #1bd741;
            border-color: #1bd741;
        }
        .btn-success:hover {
            background-color: #1bd741;
            border-color: #1bd741;
        }
    </style>
</head>
<body class="back">
<nav th:replace="/fragments/navbar.html ::nav"></nav>

<section th:replace="/fragments/produtos/catalogo.html ::catalogo"></section>

<script src="/categoria.js"></script>
<script src="/preco.js"></script>
<!-- Incluir os arquivos JavaScript do Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
