<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vendedores</title>
    <link th:replace="/fragments/logo.html ::logo">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./catalogo.css">
    <link href="/style.css" rel="stylesheet">
</head>
<body class="back">
<nav th:replace="/fragments/navbar.html ::nav"></nav>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

        <h1 class="text-center fw-bold">Vendedores</h1>

        <br><br>

        <form action="/vendedor/buscar" method="GET" class="d-flex">
            <div class="input-group">
                <input class="form-control me-2" type="search" name="q" placeholder="Buscar vendedor" aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit">
                    <img src="./lupa.png" width="20" height="20">
                </button>
            </div>
        </form>


        <br><br><br>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <!-- Verificar se há produtos a serem exibidos -->
            <th:block th:if="${vendedores != null}">
                <div class="col mb-5" th:each="vendedor : ${vendedores}" th:object="${vendedores}">


                        <div class="card h-100">
                            <div class="card-body p-4 align-items-center">
                                <div class="text-center">
                                    <img class="card-img-top rounded-circle mb-3" th:src="@{'/images/' + ${vendedor.imagemUri}}" height="210" width="250" alt="foto do vendedor">
                                    <h5 class="fw-bolder" th:text="${vendedor.nome}"></h5>

                                    <div class="d-flex flex-column small text-muted mb-2">
                                        <div class="row">
                                            <div class="col">
                                                <span class="text-justify" th:text="${vendedor.biografia}"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <a th:href="@{'/vendedores/perfil/' + ${vendedor.id}}" class="btn btn-outline-success"> Visualizar perfil
                                    </a>
                                </div>

                            </div>
                        </div>

                </div>
            </th:block>
        </div>

        <!-- Verificar se há uma mensagem a ser exibida -->
        <th:block th:if="${mensagem != null}">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert" th:text="${mensagem}"></div>
            </div>
        </th:block>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
