<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Busca</title>
    <link th:replace="/fragments/logo.html ::logo">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <style>
        .btn-success {
            background-color: #1bd741;
            border-color: #1bd741;
        }
        .btn-success:hover {
            background-color: #1bd741;
            border-color: #1bd741;
        }
    </style>
</head>
<body class="back">
<nav th:replace="/fragments/navbar.html ::nav"></nav>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

        <div th:replace="/fragments/vendedores/vendedores-frag.html ::lista-vendedores"></div>
    </div>
</section>
<footer th:replace="/fragments/footer ::footer"></footer>

<!-- Incluir os arquivos JavaScript do Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
